-- CreateTable
CREATE TABLE "musteri" (
    "musteri_id" TEXT NOT NULL,
    "ad_soyad" TEXT NOT NULL,
    "segment" TEXT NOT NULL,
    "bolge" TEXT NOT NULL,
    "sube" TEXT NOT NULL,
    "tckn" TEXT,
    "dogumTarihi" TIMESTAMP(3),
    "uyruk" TEXT DEFAULT 'TR',
    "pasaportNo" TEXT,
    "vergiNo" TEXT,
    "musteriTuru" TEXT NOT NULL DEFAULT 'GERCEK',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "musteri_pkey" PRIMARY KEY ("musteri_id")
);

-- CreateTable
CREATE TABLE "sanction_list" (
    "id" TEXT NOT NULL,
    "kod" TEXT NOT NULL,
    "ad" TEXT NOT NULL,
    "kaynakUrl" TEXT,
    "sonGuncelleme" TIMESTAMP(3),
    "kayitSayisi" INTEGER NOT NULL DEFAULT 0,
    "aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sanction_list_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sanction_entity" (
    "id" TEXT NOT NULL,
    "listId" TEXT NOT NULL,
    "tur" TEXT NOT NULL DEFAULT 'GERCEK',
    "adSoyad" TEXT NOT NULL,
    "normalizedAd" TEXT NOT NULL,
    "takmaAdlar" TEXT,
    "dogumTarihi" TIMESTAMP(3),
    "uyruk" TEXT,
    "kimlikNo" TEXT,
    "pasaportNo" TEXT,
    "adres" TEXT,
    "listeyeGirisTarihi" TIMESTAMP(3),
    "kararNo" TEXT,
    "aciklama" TEXT,
    "ham" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sanction_entity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sanction_screening" (
    "id" TEXT NOT NULL,
    "tetikleyici" TEXT NOT NULL,
    "baslangic" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "bitis" TIMESTAMP(3),
    "tarananKayitSayisi" INTEGER NOT NULL DEFAULT 0,
    "eslesmeSayisi" INTEGER NOT NULL DEFAULT 0,
    "calistiran" TEXT NOT NULL,

    CONSTRAINT "sanction_screening_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sanction_match" (
    "id" TEXT NOT NULL,
    "screeningId" TEXT,
    "musteriId" TEXT NOT NULL,
    "entityId" TEXT NOT NULL,
    "skor" INTEGER NOT NULL,
    "eslesmeTuru" TEXT NOT NULL,
    "durum" TEXT NOT NULL DEFAULT 'ACIK',
    "karar" TEXT,
    "karariVeren" TEXT,
    "kararTarihi" TIMESTAMP(3),
    "gerekce" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sanction_match_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sozlesme" (
    "sozlesme_id" TEXT NOT NULL,
    "musteri_id" TEXT NOT NULL,
    "toplam_tutar" DECIMAL(65,30) NOT NULL,
    "vade" INTEGER NOT NULL,
    "taksit_tutari" DECIMAL(65,30) NOT NULL,
    "baslangic_tarihi" TIMESTAMP(3) NOT NULL,
    "teslim_tarihi_planlanan" TIMESTAMP(3),
    "teslim_tarihi_gerceklesen" TIMESTAMP(3),
    "durum" TEXT NOT NULL,
    "iptal_durumu" BOOLEAN NOT NULL DEFAULT false,
    "iptal_tarihi" TIMESTAMP(3),
    "iptal_nedeni" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sozlesme_pkey" PRIMARY KEY ("sozlesme_id")
);

-- CreateTable
CREATE TABLE "odeme_hareketi" (
    "hareket_id" TEXT NOT NULL,
    "sozlesme_id" TEXT NOT NULL,
    "tarih" TIMESTAMP(3) NOT NULL,
    "tutar" DECIMAL(65,30) NOT NULL,
    "tip" TEXT NOT NULL,
    "gecikme_gun" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "odeme_hareketi_pkey" PRIMARY KEY ("hareket_id")
);

-- CreateTable
CREATE TABLE "teslimat" (
    "teslimat_id" TEXT NOT NULL,
    "sozlesme_id" TEXT NOT NULL,
    "teslim_tarihi" TIMESTAMP(3) NOT NULL,
    "teslim_tutar" DECIMAL(65,30) NOT NULL,
    "teslim_tipi" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "teslimat_pkey" PRIMARY KEY ("teslimat_id")
);

-- CreateTable
CREATE TABLE "likidite_pozisyonu" (
    "id" TEXT NOT NULL,
    "tarih" TIMESTAMP(3) NOT NULL,
    "nakit" DECIMAL(65,30) NOT NULL,
    "likit_varlik" DECIMAL(65,30) NOT NULL,
    "kisa_vadeli_yukumluluk" DECIMAL(65,30) NOT NULL,
    "teslimat_yukumlulugu_30gun" DECIMAL(65,30) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "likidite_pozisyonu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "risk_kpi" (
    "kpi_kodu" TEXT NOT NULL,
    "aciklama" TEXT NOT NULL,
    "birim" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "risk_kpi_pkey" PRIMARY KEY ("kpi_kodu")
);

-- CreateTable
CREATE TABLE "risk_limit" (
    "id" TEXT NOT NULL,
    "kpi_kodu" TEXT NOT NULL,
    "esik_deger" DECIMAL(65,30) NOT NULL,
    "karsilastirma" TEXT NOT NULL,
    "seviye" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "risk_limit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "senaryo" (
    "senaryo_kodu" TEXT NOT NULL,
    "ad" TEXT NOT NULL,
    "parametreler" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "senaryo_pkey" PRIMARY KEY ("senaryo_kodu")
);

-- CreateTable
CREATE TABLE "gunluk_risk_ozet" (
    "id" TEXT NOT NULL,
    "tarih" TIMESTAMP(3) NOT NULL,
    "senaryo_kodu" TEXT NOT NULL,
    "kpi_kodu" TEXT NOT NULL,
    "deger" DECIMAL(65,30) NOT NULL,
    "risk_seviyesi" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "gunluk_risk_ozet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "uyari" (
    "uyari_id" TEXT NOT NULL,
    "tarih" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "kpi_kodu" TEXT NOT NULL,
    "senaryo_kodu" TEXT NOT NULL,
    "esik_deger" DECIMAL(65,30) NOT NULL,
    "gerceklesen_deger" DECIMAL(65,30) NOT NULL,
    "risk_seviyesi" TEXT NOT NULL,
    "durum" TEXT NOT NULL,
    "mesaj" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "uyari_pkey" PRIMARY KEY ("uyari_id")
);

-- CreateTable
CREATE TABLE "likidite_stres_sonucu" (
    "id" TEXT NOT NULL,
    "tarih" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "senaryo_ad" TEXT NOT NULL,
    "lcr_deger" DECIMAL(65,30) NOT NULL,
    "risk_seviyesi" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "likidite_stres_sonucu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "holiday" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'Resmi Tatil',
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "holiday_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "startDate" TEXT NOT NULL,
    "endDate" TEXT,
    "team" TEXT,
    "supervisor" TEXT,
    "supervisorId" TEXT,
    "auditCode" TEXT,
    "department" TEXT,
    "creatorId" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "scope" TEXT,
    "objective" TEXT,
    "methodology" TEXT,
    "criteria" TEXT,
    "period" TEXT,
    "description" TEXT,
    "opinion" TEXT,
    "riskLevel" TEXT,
    "plannedStartDate" TIMESTAMP(3),
    "plannedEndDate" TIMESTAMP(3),
    "actualStartDate" TIMESTAMP(3),
    "actualEndDate" TIMESTAMP(3),
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "unitId" TEXT,
    "processId" TEXT,
    "deletionComment" TEXT,
    "deletionReason" TEXT,
    "isConfidential" BOOLEAN NOT NULL DEFAULT false,
    "confidentialityNote" TEXT,
    "fraudType" TEXT,
    "financialImpact" DECIMAL(65,30),
    "currency" TEXT DEFAULT 'TRY',
    "disciplinaryAction" TEXT,
    "involvedParties" TEXT,
    "investigationSummary" TEXT,
    "investigationFindings" TEXT,
    "investigationOpinion" TEXT,
    "acknowledgedAt" TIMESTAMP(3),
    "acknowledgedBy" TEXT,
    "auditableUnitId" TEXT,

    CONSTRAINT "audit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finding" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "code" TEXT,
    "title" TEXT NOT NULL,
    "risk" TEXT NOT NULL,
    "category" TEXT,
    "status" TEXT NOT NULL,
    "dueDate" TIMESTAMP(3),
    "description" TEXT,
    "evidence" TEXT,
    "financialImpact" DECIMAL(65,30),
    "departmentResponse" TEXT,
    "department" TEXT,
    "criteria" TEXT,
    "rootCause" TEXT,
    "recommendation" TEXT,
    "actionPlan" TEXT,
    "isAgreed" BOOLEAN,
    "disagreementReason" TEXT,
    "closingRemarks" TEXT,
    "reviewerId" TEXT,
    "verifiedAt" TIMESTAMP(3),
    "verifiedBy" TEXT,
    "assignedUserId" TEXT,
    "notificationDate" TIMESTAMP(3),
    "responseDate" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "lastEditedAt" TIMESTAMP(3),
    "isRiskAccepted" BOOLEAN DEFAULT false,
    "riskAcceptanceJustification" TEXT,
    "riskAcceptedBy" TEXT,
    "riskAcceptedAt" TIMESTAMP(3),
    "escalationLevel" INTEGER NOT NULL DEFAULT 0,
    "supervisorId" TEXT,
    "processId" TEXT,
    "riskId" TEXT,
    "controlId" TEXT,
    "linkedEthicsReportId" TEXT,
    "isRecurring" BOOLEAN NOT NULL DEFAULT false,
    "recurringFindingId" TEXT,
    "recurringNote" TEXT,
    "isConfidential" BOOLEAN NOT NULL DEFAULT false,
    "confidentialityNote" TEXT,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "auditTestId" TEXT,
    "workpaperId" TEXT,
    "deletionComment" TEXT,
    "deletionReason" TEXT,

    CONSTRAINT "finding_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'info',
    "category" TEXT NOT NULL DEFAULT 'Genel',
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "link" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_log" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "user" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "details" TEXT NOT NULL,
    "targetType" TEXT NOT NULL,
    "targetId" TEXT,
    "auditId" TEXT,
    "changeData" TEXT,
    "ipAddress" TEXT,
    "previousHash" TEXT,
    "hash" TEXT,

    CONSTRAINT "audit_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_plan" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "quarter" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "priority" TEXT NOT NULL,
    "assignedTo" TEXT,
    "startDate" TEXT,
    "endDate" TEXT,
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "signedDocumentPath" TEXT,
    "description" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "audit_plan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auditable_unit" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "type" TEXT NOT NULL,
    "parentId" TEXT,
    "riskLevel" TEXT NOT NULL,
    "description" TEXT,
    "manager" TEXT,
    "location" TEXT,
    "employeeCount" INTEGER,
    "transactionVolume" TEXT,
    "financialImpact" TEXT,
    "riskScore" INTEGER,
    "impactScore" INTEGER DEFAULT 1,
    "likelihoodScore" INTEGER DEFAULT 1,
    "residualRiskScore" INTEGER,
    "auditCycle" INTEGER,
    "lastAuditDate" TEXT,
    "lastAuditId" TEXT,
    "nextAuditDate" TEXT,
    "estimatedDays" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'Aktif',
    "notes" TEXT,
    "strategicAlignment" TEXT,
    "businessCriticality" TEXT,
    "regulations" TEXT,
    "mandatoryAudit" BOOLEAN,
    "lastAuditResult" TEXT,
    "openFindingsCount" INTEGER DEFAULT 0,
    "inherentRisk" TEXT,
    "controlEffectiveness" TEXT,
    "changeRisk" BOOLEAN DEFAULT false,
    "requiredExpertise" TEXT,
    "previousAuditDays" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "auditable_unit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "process" (
    "id" TEXT NOT NULL,
    "unitId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "owner" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "process_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "risk" (
    "id" TEXT NOT NULL,
    "processId" TEXT NOT NULL,
    "code" TEXT,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT NOT NULL,
    "level" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "risk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "control" (
    "id" TEXT NOT NULL,
    "riskId" TEXT NOT NULL,
    "code" TEXT,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "owner" TEXT,
    "type" TEXT,
    "frequency" TEXT,
    "source" TEXT,
    "method" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "control_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_test" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "controlId" TEXT NOT NULL,
    "title" TEXT,
    "procedure" TEXT,
    "sampleSize" INTEGER,
    "designEffectiveness" TEXT,
    "operatingEffectiveness" TEXT,
    "testResult" TEXT,
    "testedBy" TEXT,
    "testDate" TIMESTAMP(3),
    "supervisorId" TEXT,
    "supervisorApprovedAt" TIMESTAMP(3),
    "evidence" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "deletionReason" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Taslak',
    "reviewerId" TEXT,
    "reviewedAt" TIMESTAMP(3),

    CONSTRAINT "audit_test_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_education" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "date" TEXT NOT NULL,
    "duration" TEXT NOT NULL,
    "attendees" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "description" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "participantList" TEXT,

    CONSTRAINT "audit_education_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_follow_up" (
    "id" TEXT NOT NULL,
    "findingId" TEXT,
    "action" TEXT NOT NULL,
    "deadline" TEXT NOT NULL,
    "priority" TEXT NOT NULL,
    "assignee" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'A├ğ─▒k',
    "escalationLevel" INTEGER NOT NULL DEFAULT 0,
    "lastEscalatedAt" TIMESTAMP(3),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "audit_follow_up_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_conciliation" (
    "id" TEXT NOT NULL,
    "findingId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Bekliyor',
    "response" TEXT,
    "responseDate" TEXT,
    "isAgreed" BOOLEAN,
    "disagreementReason" TEXT,
    "rootCause" TEXT,
    "actionPlan" TEXT,
    "evidencePath" TEXT,
    "digitalSeal" TEXT,
    "signedBy" TEXT,
    "signedAt" TIMESTAMP(3),
    "signedIp" TEXT,
    "magicToken" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "audit_conciliation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "conciliation_message" (
    "id" TEXT NOT NULL,
    "findingId" TEXT NOT NULL,
    "senderId" TEXT NOT NULL,
    "senderName" TEXT NOT NULL,
    "senderRole" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "isAgreed" BOOLEAN,
    "actionPlan" TEXT,
    "evidencePath" TEXT,
    "status" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "conciliation_message_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "extension_request" (
    "id" TEXT NOT NULL,
    "findingId" TEXT NOT NULL,
    "followUpId" TEXT,
    "currentDeadline" TEXT NOT NULL,
    "requestedDeadline" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Beklemede',
    "notes" TEXT,
    "requestorId" TEXT NOT NULL,
    "requestorName" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "extension_request_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_extension_request" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "currentEndDate" TIMESTAMP(3) NOT NULL,
    "requestedEndDate" TIMESTAMP(3) NOT NULL,
    "reason" TEXT NOT NULL,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Beklemede',
    "requestedById" TEXT NOT NULL,
    "reviewedById" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "audit_extension_request_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sanction_log" (
    "id" TEXT NOT NULL,
    "user" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "details" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sanction_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sanction_scan" (
    "id" TEXT NOT NULL,
    "scanType" TEXT NOT NULL,
    "scanSource" TEXT NOT NULL,
    "query" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Tamamland─▒',
    "user" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sanction_scan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sanction_scan_result" (
    "id" TEXT NOT NULL,
    "scanId" TEXT NOT NULL,
    "matchName" TEXT NOT NULL,
    "matchSource" TEXT NOT NULL,
    "matchScore" DOUBLE PRECISION NOT NULL,
    "details" TEXT,

    CONSTRAINT "sanction_scan_result_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "suspicious_transaction" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "customerName" TEXT NOT NULL,
    "customerId" TEXT,
    "transactionType" TEXT NOT NULL,
    "amount" DECIMAL(65,30),
    "description" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Beklemede',
    "user" TEXT NOT NULL,
    "trackingCode" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "suspicious_transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "email" TEXT,
    "passwordHash" TEXT,
    "displayName" TEXT NOT NULL,
    "department" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletionReason" TEXT,
    "isAdUser" BOOLEAN NOT NULL DEFAULT false,
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "failedLoginAttempts" INTEGER NOT NULL DEFAULT 0,
    "lockedUntil" TIMESTAMP(3),
    "certifications" TEXT,
    "jobStartDate" TEXT,
    "departureDate" TEXT,
    "separationReason" TEXT,
    "phoneNumber" TEXT,
    "registerNumber" TEXT,
    "title" TEXT,
    "photoUrl" TEXT,
    "summary" TEXT,
    "skills" TEXT,
    "jobDescription" TEXT,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_timesheet" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "auditId" TEXT,
    "date" TEXT NOT NULL,
    "hours" DECIMAL(65,30) NOT NULL,
    "activityType" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Taslak',
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "audit_timesheet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "role" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isSystem" BOOLEAN NOT NULL DEFAULT false,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_role" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "roleId" TEXT NOT NULL,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "permission" (
    "id" TEXT NOT NULL,
    "module" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "description" TEXT,

    CONSTRAINT "permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "role_permission" (
    "id" TEXT NOT NULL,
    "roleId" TEXT NOT NULL,
    "permissionId" TEXT NOT NULL,
    "scope" TEXT NOT NULL DEFAULT 'ALL',

    CONSTRAINT "role_permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "refresh_token" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "refresh_token_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ai_document" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "uploadedBy" TEXT NOT NULL,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isIndexed" BOOLEAN NOT NULL DEFAULT false,
    "indexedAt" TIMESTAMP(3),
    "chunkCount" INTEGER NOT NULL DEFAULT 0,
    "version" INTEGER NOT NULL DEFAULT 1,
    "rootId" TEXT,
    "isLatest" BOOLEAN NOT NULL DEFAULT true,
    "storedFileName" TEXT,

    CONSTRAINT "ai_document_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "document_chunk" (
    "id" TEXT NOT NULL,
    "documentId" TEXT,
    "text" TEXT NOT NULL,
    "vector" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "chunkIndex" INTEGER NOT NULL,
    "category" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "document_chunk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "document_history" (
    "id" TEXT NOT NULL,
    "documentId" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "uploadedBy" TEXT NOT NULL,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "changeReason" TEXT,
    "storedFileName" TEXT,

    CONSTRAINT "document_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_workpaper" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileType" TEXT,
    "category" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Taslak',
    "version" INTEGER NOT NULL DEFAULT 1,
    "preparerId" TEXT,
    "preparedAt" TIMESTAMP(3),
    "reviewerId" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "lockedById" TEXT,
    "lockedAt" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "deletionReason" TEXT,
    "supervisorId" TEXT,
    "supervisorApprovedAt" TIMESTAMP(3),

    CONSTRAINT "audit_workpaper_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_workpaper_history" (
    "id" TEXT NOT NULL,
    "workpaperId" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileType" TEXT,
    "storedFileName" TEXT,
    "changeReason" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_workpaper_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quality_metric" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "target" DECIMAL(65,30) NOT NULL,
    "actual" DECIMAL(65,30) NOT NULL,
    "unit" TEXT NOT NULL,
    "trend" TEXT NOT NULL DEFAULT 'stable',
    "status" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "deletionReason" TEXT,

    CONSTRAINT "quality_metric_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quality_assessment" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "assessor" TEXT NOT NULL,
    "assessorOrg" TEXT,
    "assessorTitle" TEXT,
    "assessorCertifications" TEXT,
    "assessorExperience" TEXT,
    "result" TEXT NOT NULL,
    "score" INTEGER NOT NULL,
    "nextDueDate" TIMESTAMP(3),
    "reportPath" TEXT,
    "findings" TEXT,
    "actionItems" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "deletionReason" TEXT,

    CONSTRAINT "quality_assessment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quality_action" (
    "id" TEXT NOT NULL,
    "assessmentId" TEXT,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "assignee" TEXT NOT NULL,
    "dueDate" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'A├ğ─▒k',
    "priority" TEXT NOT NULL,
    "completedAt" TIMESTAMP(3),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "deletedAt" TIMESTAMP(3),
    "deletedById" TEXT,
    "deletionReason" TEXT,

    CONSTRAINT "quality_action_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "independence_declaration" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "auditId" TEXT,
    "year" INTEGER,
    "declarationType" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Bekliyor',
    "hasConflict" BOOLEAN NOT NULL DEFAULT false,
    "conflictDetails" TEXT,
    "hasFinancialLink" BOOLEAN NOT NULL DEFAULT false,
    "financialDetails" TEXT,
    "hasFamilyLink" BOOLEAN NOT NULL DEFAULT false,
    "familyDetails" TEXT,
    "hasPreviousRole" BOOLEAN NOT NULL DEFAULT false,
    "previousRoleDetails" TEXT,
    "hasOtherIssue" BOOLEAN NOT NULL DEFAULT false,
    "otherIssueDetails" TEXT,
    "declaredAt" TIMESTAMP(3),
    "reviewedBy" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "reviewNotes" TEXT,
    "signaturePath" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "independence_declaration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_sample" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "method" TEXT NOT NULL,
    "populationSize" INTEGER NOT NULL,
    "sampleSize" INTEGER NOT NULL,
    "confidenceLevel" DECIMAL(65,30),
    "errorRate" DECIMAL(65,30),
    "expectedErrorRate" DECIMAL(65,30),
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "samplingDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "selectedItems" TEXT,
    "testResult" TEXT,
    "deviationsFound" INTEGER DEFAULT 0,
    "conclusions" TEXT,
    "notes" TEXT,
    "observedDeviationRate" DECIMAL(65,30),
    "upperDeviationRate" DECIMAL(65,30),
    "precisionRate" DECIMAL(65,30),
    "confidenceIntervalLower" DECIMAL(65,30),
    "confidenceIntervalUpper" DECIMAL(65,30),
    "projectedPopulationErrors" INTEGER,
    "sampleAdequacy" TEXT,
    "findingId" TEXT,
    "populationWorkpaperId" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "creatorId" TEXT,
    "creatorName" TEXT,

    CONSTRAINT "audit_sample_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ethics_report" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "anonymous" BOOLEAN NOT NULL DEFAULT true,
    "name" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "description" TEXT NOT NULL,
    "priority" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Beklemede',
    "source" TEXT DEFAULT 'Web Form',
    "trackingCode" TEXT NOT NULL,
    "reporterId" TEXT,
    "reporterName" TEXT,
    "assigneeId" TEXT,
    "assignedAt" TIMESTAMP(3),
    "internalNotes" TEXT,
    "slaDeadline" TIMESTAMP(3),
    "escalationLevel" INTEGER NOT NULL DEFAULT 0,
    "escalatedAt" TIMESTAMP(3),
    "investigationOutcome" TEXT,
    "closingSummary" TEXT,
    "disciplinaryAction" BOOLEAN,
    "closedAt" TIMESTAMP(3),
    "closedById" TEXT,
    "assigneeConflictDeclared" BOOLEAN NOT NULL DEFAULT false,
    "linkedFindingId" TEXT,
    "targetUnitId" TEXT,
    "emailMessageId" TEXT,
    "emailThreadId" TEXT,
    "emailOriginalContent" TEXT,
    "disciplinaryActionDetails" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ethics_report_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ethics_evidence" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileType" TEXT,
    "fileSize" INTEGER,
    "uploadedBy" TEXT,
    "isInternal" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ethics_evidence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ethics_message" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "senderId" TEXT,
    "isFromReporter" BOOLEAN NOT NULL DEFAULT false,
    "isInternal" BOOLEAN NOT NULL DEFAULT false,
    "content" TEXT NOT NULL,
    "attachments" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ethics_message_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ethics_investigation_note" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ethics_investigation_note_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ethics_ip_log" (
    "id" TEXT NOT NULL,
    "hashedIp" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ethics_ip_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "multi_year_plan" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "startYear" INTEGER NOT NULL,
    "endYear" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Taslak',
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "description" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "multi_year_plan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "multi_year_plan_item" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "unitId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "quarter" TEXT,
    "priority" TEXT NOT NULL,
    "estimatedDays" INTEGER,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "multi_year_plan_item_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "report_template" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "format" TEXT NOT NULL DEFAULT 'PDF',
    "templatePath" TEXT,
    "sections" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "report_template_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "generated_report" (
    "id" TEXT NOT NULL,
    "templateId" TEXT,
    "title" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "filePath" TEXT NOT NULL,
    "generatedBy" TEXT NOT NULL,
    "generatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "parameters" TEXT,

    CONSTRAINT "generated_report_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "report_section" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "sira" INTEGER NOT NULL,
    "numara" TEXT NOT NULL,
    "baslik" TEXT NOT NULL,
    "icerik" TEXT NOT NULL,
    "hedefBirimIds" TEXT,
    "gizlilikDerecesi" TEXT NOT NULL DEFAULT 'HASSAS',
    "kismiCiktidaYerAlir" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "report_section_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "report_finding" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "sectionId" TEXT,
    "bulguNo" TEXT NOT NULL,
    "hedefBirimId" TEXT,
    "onemDuzeyi" TEXT NOT NULL,
    "tespit" TEXT NOT NULL,
    "birimCevabi" TEXT,
    "oneri" TEXT,
    "kapatmaTarihi" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "report_finding_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "report_issue" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "tur" TEXT NOT NULL,
    "hedefBirimId" TEXT,
    "sectionIds" TEXT,
    "turevNo" TEXT NOT NULL,
    "olusturanId" TEXT NOT NULL,
    "olusturmaTarihi" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dosyaId" TEXT,

    CONSTRAINT "report_issue_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workpaper_template" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "category" TEXT NOT NULL,
    "description" TEXT,
    "templatePath" TEXT NOT NULL,
    "format" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "workpaper_template_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_training" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "batchId" TEXT,
    "name" TEXT NOT NULL,
    "provider" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "hours" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "description" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_training_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "training_batch" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "provider" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "hours" INTEGER,
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "cancellationNotes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "training_batch_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_promotion" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "previousTitle" TEXT,
    "department" TEXT,
    "type" TEXT DEFAULT 'Terfi',
    "passiveReason" TEXT,
    "promotionDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_promotion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_experience" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "companyName" TEXT NOT NULL,
    "position" TEXT NOT NULL,
    "department" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "description" TEXT,
    "careerPaths" TEXT DEFAULT '[]',
    "isCurrent" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_experience_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_education" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "schoolName" TEXT NOT NULL,
    "faculty" TEXT,
    "department" TEXT NOT NULL,
    "degree" TEXT,
    "graduationYear" INTEGER,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_education_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_certificate" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "provider" TEXT,
    "date" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_certificate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "review_note" (
    "id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "authorName" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "findingId" TEXT,
    "testId" TEXT,
    "workpaperId" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "review_note_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_communication" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Taslak',
    "sentAt" TIMESTAMP(3),
    "sentById" TEXT,
    "readAt" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "audit_communication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_meeting" (
    "id" TEXT NOT NULL,
    "auditId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT,
    "meetingDate" TIMESTAMP(3),
    "location" TEXT,
    "agenda" TEXT,
    "minutes" TEXT,
    "attendees" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "audit_meeting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_leave" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Planland─▒',
    "proxyUserId" TEXT,
    "description" TEXT,
    "managerNote" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_leave_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "data_retention_policy" (
    "id" TEXT NOT NULL,
    "dataCategory" TEXT NOT NULL,
    "dataDescription" TEXT NOT NULL,
    "legalBasis" TEXT NOT NULL,
    "retentionPeriod" INTEGER NOT NULL,
    "destructionMethod" TEXT NOT NULL,
    "responsibleUnit" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Aktif',
    "lastReviewDate" TIMESTAMP(3),
    "nextReviewDate" TIMESTAMP(3),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "data_retention_policy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "data_subject_request" (
    "id" TEXT NOT NULL,
    "requestCode" TEXT NOT NULL,
    "applicantName" TEXT NOT NULL,
    "applicantIdentity" TEXT,
    "applicantContact" TEXT NOT NULL,
    "requestType" TEXT NOT NULL,
    "requestDetails" TEXT NOT NULL,
    "receivedDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dueDate" TIMESTAMP(3) NOT NULL,
    "responseDate" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'Al─▒nd─▒',
    "response" TEXT,
    "assignedTo" TEXT,
    "assignedToName" TEXT,
    "legalBasis" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "data_subject_request_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_AuditToEthics" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "sanction_list_kod_key" ON "sanction_list"("kod");

-- CreateIndex
CREATE UNIQUE INDEX "likidite_pozisyonu_tarih_key" ON "likidite_pozisyonu"("tarih");

-- CreateIndex
CREATE UNIQUE INDEX "gunluk_risk_ozet_tarih_senaryo_kodu_kpi_kodu_key" ON "gunluk_risk_ozet"("tarih", "senaryo_kodu", "kpi_kodu");

-- CreateIndex
CREATE UNIQUE INDEX "holiday_date_key" ON "holiday"("date");

-- CreateIndex
CREATE INDEX "audit_auditCode_idx" ON "audit"("auditCode");

-- CreateIndex
CREATE INDEX "audit_creatorId_idx" ON "audit"("creatorId");

-- CreateIndex
CREATE INDEX "audit_unitId_idx" ON "audit"("unitId");

-- CreateIndex
CREATE INDEX "audit_status_idx" ON "audit"("status");

-- CreateIndex
CREATE INDEX "audit_isDeleted_idx" ON "audit"("isDeleted");

-- CreateIndex
CREATE UNIQUE INDEX "finding_code_key" ON "finding"("code");

-- CreateIndex
CREATE INDEX "finding_auditId_idx" ON "finding"("auditId");

-- CreateIndex
CREATE INDEX "finding_status_idx" ON "finding"("status");

-- CreateIndex
CREATE INDEX "finding_risk_idx" ON "finding"("risk");

-- CreateIndex
CREATE INDEX "finding_isDeleted_idx" ON "finding"("isDeleted");

-- CreateIndex
CREATE INDEX "finding_assignedUserId_idx" ON "finding"("assignedUserId");

-- CreateIndex
CREATE INDEX "notification_userId_idx" ON "notification"("userId");

-- CreateIndex
CREATE INDEX "notification_isRead_idx" ON "notification"("isRead");

-- CreateIndex
CREATE INDEX "audit_log_targetType_targetId_idx" ON "audit_log"("targetType", "targetId");

-- CreateIndex
CREATE INDEX "audit_log_auditId_idx" ON "audit_log"("auditId");

-- CreateIndex
CREATE UNIQUE INDEX "audit_conciliation_findingId_key" ON "audit_conciliation"("findingId");

-- CreateIndex
CREATE UNIQUE INDEX "suspicious_transaction_trackingCode_key" ON "suspicious_transaction"("trackingCode");

-- CreateIndex
CREATE UNIQUE INDEX "user_username_key" ON "user"("username");

-- CreateIndex
CREATE INDEX "audit_timesheet_userId_date_idx" ON "audit_timesheet"("userId", "date");

-- CreateIndex
CREATE INDEX "audit_timesheet_status_idx" ON "audit_timesheet"("status");

-- CreateIndex
CREATE UNIQUE INDEX "role_code_key" ON "role"("code");

-- CreateIndex
CREATE UNIQUE INDEX "user_role_userId_roleId_key" ON "user_role"("userId", "roleId");

-- CreateIndex
CREATE UNIQUE INDEX "permission_module_action_key" ON "permission"("module", "action");

-- CreateIndex
CREATE UNIQUE INDEX "role_permission_roleId_permissionId_key" ON "role_permission"("roleId", "permissionId");

-- CreateIndex
CREATE UNIQUE INDEX "refresh_token_token_key" ON "refresh_token"("token");

-- CreateIndex
CREATE INDEX "ai_document_rootId_version_idx" ON "ai_document"("rootId", "version");

-- CreateIndex
CREATE INDEX "document_chunk_documentId_idx" ON "document_chunk"("documentId");

-- CreateIndex
CREATE INDEX "document_chunk_source_idx" ON "document_chunk"("source");

-- CreateIndex
CREATE INDEX "document_chunk_category_idx" ON "document_chunk"("category");

-- CreateIndex
CREATE INDEX "audit_workpaper_history_workpaperId_version_idx" ON "audit_workpaper_history"("workpaperId", "version");

-- CreateIndex
CREATE UNIQUE INDEX "ethics_report_trackingCode_key" ON "ethics_report"("trackingCode");

-- CreateIndex
CREATE INDEX "ethics_ip_log_hashedIp_createdAt_idx" ON "ethics_ip_log"("hashedIp", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "multi_year_plan_item_planId_unitId_year_key" ON "multi_year_plan_item"("planId", "unitId", "year");

-- CreateIndex
CREATE INDEX "review_note_findingId_idx" ON "review_note"("findingId");

-- CreateIndex
CREATE INDEX "review_note_testId_idx" ON "review_note"("testId");

-- CreateIndex
CREATE INDEX "review_note_workpaperId_idx" ON "review_note"("workpaperId");

-- CreateIndex
CREATE INDEX "audit_communication_auditId_idx" ON "audit_communication"("auditId");

-- CreateIndex
CREATE INDEX "audit_meeting_auditId_idx" ON "audit_meeting"("auditId");

-- CreateIndex
CREATE UNIQUE INDEX "data_subject_request_requestCode_key" ON "data_subject_request"("requestCode");

-- CreateIndex
CREATE INDEX "data_subject_request_status_idx" ON "data_subject_request"("status");

-- CreateIndex
CREATE INDEX "data_subject_request_requestCode_idx" ON "data_subject_request"("requestCode");

-- CreateIndex
CREATE UNIQUE INDEX "_AuditToEthics_AB_unique" ON "_AuditToEthics"("A", "B");

-- CreateIndex
CREATE INDEX "_AuditToEthics_B_index" ON "_AuditToEthics"("B");

-- AddForeignKey
ALTER TABLE "sanction_entity" ADD CONSTRAINT "sanction_entity_listId_fkey" FOREIGN KEY ("listId") REFERENCES "sanction_list"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sanction_match" ADD CONSTRAINT "sanction_match_screeningId_fkey" FOREIGN KEY ("screeningId") REFERENCES "sanction_screening"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sanction_match" ADD CONSTRAINT "sanction_match_entityId_fkey" FOREIGN KEY ("entityId") REFERENCES "sanction_entity"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sanction_match" ADD CONSTRAINT "sanction_match_musteriId_fkey" FOREIGN KEY ("musteriId") REFERENCES "musteri"("musteri_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sozlesme" ADD CONSTRAINT "sozlesme_musteri_id_fkey" FOREIGN KEY ("musteri_id") REFERENCES "musteri"("musteri_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "odeme_hareketi" ADD CONSTRAINT "odeme_hareketi_sozlesme_id_fkey" FOREIGN KEY ("sozlesme_id") REFERENCES "sozlesme"("sozlesme_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "teslimat" ADD CONSTRAINT "teslimat_sozlesme_id_fkey" FOREIGN KEY ("sozlesme_id") REFERENCES "sozlesme"("sozlesme_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "risk_limit" ADD CONSTRAINT "risk_limit_kpi_kodu_fkey" FOREIGN KEY ("kpi_kodu") REFERENCES "risk_kpi"("kpi_kodu") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "gunluk_risk_ozet" ADD CONSTRAINT "gunluk_risk_ozet_kpi_kodu_fkey" FOREIGN KEY ("kpi_kodu") REFERENCES "risk_kpi"("kpi_kodu") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "gunluk_risk_ozet" ADD CONSTRAINT "gunluk_risk_ozet_senaryo_kodu_fkey" FOREIGN KEY ("senaryo_kodu") REFERENCES "senaryo"("senaryo_kodu") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "uyari" ADD CONSTRAINT "uyari_senaryo_kodu_fkey" FOREIGN KEY ("senaryo_kodu") REFERENCES "senaryo"("senaryo_kodu") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "uyari" ADD CONSTRAINT "uyari_kpi_kodu_fkey" FOREIGN KEY ("kpi_kodu") REFERENCES "risk_kpi"("kpi_kodu") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit" ADD CONSTRAINT "audit_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit" ADD CONSTRAINT "audit_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit" ADD CONSTRAINT "audit_auditableUnitId_fkey" FOREIGN KEY ("auditableUnitId") REFERENCES "auditable_unit"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_auditTestId_fkey" FOREIGN KEY ("auditTestId") REFERENCES "audit_test"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_workpaperId_fkey" FOREIGN KEY ("workpaperId") REFERENCES "audit_workpaper"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_linkedEthicsReportId_fkey" FOREIGN KEY ("linkedEthicsReportId") REFERENCES "ethics_report"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finding" ADD CONSTRAINT "finding_assignedUserId_fkey" FOREIGN KEY ("assignedUserId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification" ADD CONSTRAINT "notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "process" ADD CONSTRAINT "process_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES "auditable_unit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "risk" ADD CONSTRAINT "risk_processId_fkey" FOREIGN KEY ("processId") REFERENCES "process"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "control" ADD CONSTRAINT "control_riskId_fkey" FOREIGN KEY ("riskId") REFERENCES "risk"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_test" ADD CONSTRAINT "audit_test_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_test" ADD CONSTRAINT "audit_test_controlId_fkey" FOREIGN KEY ("controlId") REFERENCES "control"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_test" ADD CONSTRAINT "audit_test_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_test" ADD CONSTRAINT "audit_test_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_test" ADD CONSTRAINT "audit_test_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_follow_up" ADD CONSTRAINT "audit_follow_up_findingId_fkey" FOREIGN KEY ("findingId") REFERENCES "finding"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_conciliation" ADD CONSTRAINT "audit_conciliation_findingId_fkey" FOREIGN KEY ("findingId") REFERENCES "finding"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "conciliation_message" ADD CONSTRAINT "conciliation_message_findingId_fkey" FOREIGN KEY ("findingId") REFERENCES "finding"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "extension_request" ADD CONSTRAINT "extension_request_findingId_fkey" FOREIGN KEY ("findingId") REFERENCES "finding"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_extension_request" ADD CONSTRAINT "audit_extension_request_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_extension_request" ADD CONSTRAINT "audit_extension_request_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_extension_request" ADD CONSTRAINT "audit_extension_request_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sanction_scan_result" ADD CONSTRAINT "sanction_scan_result_scanId_fkey" FOREIGN KEY ("scanId") REFERENCES "sanction_scan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_timesheet" ADD CONSTRAINT "audit_timesheet_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_timesheet" ADD CONSTRAINT "audit_timesheet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_timesheet" ADD CONSTRAINT "audit_timesheet_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_role" ADD CONSTRAINT "user_role_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_role" ADD CONSTRAINT "user_role_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "role_permission" ADD CONSTRAINT "role_permission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "permission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "role_permission" ADD CONSTRAINT "role_permission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "refresh_token" ADD CONSTRAINT "refresh_token_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_chunk" ADD CONSTRAINT "document_chunk_documentId_fkey" FOREIGN KEY ("documentId") REFERENCES "ai_document"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "document_history" ADD CONSTRAINT "document_history_documentId_fkey" FOREIGN KEY ("documentId") REFERENCES "ai_document"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_workpaper" ADD CONSTRAINT "audit_workpaper_lockedById_fkey" FOREIGN KEY ("lockedById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_workpaper" ADD CONSTRAINT "audit_workpaper_deletedById_fkey" FOREIGN KEY ("deletedById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_workpaper" ADD CONSTRAINT "audit_workpaper_supervisorId_fkey" FOREIGN KEY ("supervisorId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_workpaper" ADD CONSTRAINT "audit_workpaper_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_workpaper" ADD CONSTRAINT "audit_workpaper_preparerId_fkey" FOREIGN KEY ("preparerId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_workpaper" ADD CONSTRAINT "audit_workpaper_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_workpaper_history" ADD CONSTRAINT "audit_workpaper_history_workpaperId_fkey" FOREIGN KEY ("workpaperId") REFERENCES "audit_workpaper"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quality_action" ADD CONSTRAINT "quality_action_assessmentId_fkey" FOREIGN KEY ("assessmentId") REFERENCES "quality_assessment"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "independence_declaration" ADD CONSTRAINT "independence_declaration_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "independence_declaration" ADD CONSTRAINT "independence_declaration_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_sample" ADD CONSTRAINT "audit_sample_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_sample" ADD CONSTRAINT "audit_sample_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_report" ADD CONSTRAINT "ethics_report_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_report" ADD CONSTRAINT "ethics_report_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_report" ADD CONSTRAINT "ethics_report_targetUnitId_fkey" FOREIGN KEY ("targetUnitId") REFERENCES "auditable_unit"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_evidence" ADD CONSTRAINT "ethics_evidence_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "ethics_report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_message" ADD CONSTRAINT "ethics_message_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "ethics_report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_message" ADD CONSTRAINT "ethics_message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_investigation_note" ADD CONSTRAINT "ethics_investigation_note_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "ethics_report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_investigation_note" ADD CONSTRAINT "ethics_investigation_note_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ethics_ip_log" ADD CONSTRAINT "ethics_ip_log_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "ethics_report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "multi_year_plan_item" ADD CONSTRAINT "multi_year_plan_item_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES "auditable_unit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "multi_year_plan_item" ADD CONSTRAINT "multi_year_plan_item_planId_fkey" FOREIGN KEY ("planId") REFERENCES "multi_year_plan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "generated_report" ADD CONSTRAINT "generated_report_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "report_template"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_training" ADD CONSTRAINT "user_training_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_training" ADD CONSTRAINT "user_training_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES "training_batch"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_promotion" ADD CONSTRAINT "user_promotion_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_experience" ADD CONSTRAINT "user_experience_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_education" ADD CONSTRAINT "user_education_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_certificate" ADD CONSTRAINT "user_certificate_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "review_note" ADD CONSTRAINT "review_note_findingId_fkey" FOREIGN KEY ("findingId") REFERENCES "finding"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "review_note" ADD CONSTRAINT "review_note_testId_fkey" FOREIGN KEY ("testId") REFERENCES "audit_test"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "review_note" ADD CONSTRAINT "review_note_workpaperId_fkey" FOREIGN KEY ("workpaperId") REFERENCES "audit_workpaper"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "review_note" ADD CONSTRAINT "review_note_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_communication" ADD CONSTRAINT "audit_communication_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_communication" ADD CONSTRAINT "audit_communication_sentById_fkey" FOREIGN KEY ("sentById") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_meeting" ADD CONSTRAINT "audit_meeting_auditId_fkey" FOREIGN KEY ("auditId") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_leave" ADD CONSTRAINT "user_leave_userId_fkey" FOREIGN KEY ("userId") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_leave" ADD CONSTRAINT "user_leave_proxyUserId_fkey" FOREIGN KEY ("proxyUserId") REFERENCES "user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AuditToEthics" ADD CONSTRAINT "_AuditToEthics_A_fkey" FOREIGN KEY ("A") REFERENCES "audit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AuditToEthics" ADD CONSTRAINT "_AuditToEthics_B_fkey" FOREIGN KEY ("B") REFERENCES "ethics_report"("id") ON DELETE CASCADE ON UPDATE CASCADE;

